aside {
    padding: 10px;
    background-color: #EFF;
    border: solid #A8A8A8;
    margin-left: 380px;
}

footer {
    padding: 10px;
    border: solid black;
    text-align: center;
}

header {
    padding: 10px;
    background-color: #EFF;
    border: solid #A8A8A8;
    text-align: center;
}

header > h1 {
    animation-name: example;
    animation-duration: 5s;

}

@keyframes example {
    10% {
        transform: rotate(90deg);
    }
    100% {
        transform: translateY(1000%);
    }
    100% {
        visibility: hidden;
    }

}

main {
    padding: 10px;
    background-color: #EFF;
    border: solid #A8A8A8;
    margin-right: 480px;

}

nav {
    padding: 10px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    border: solid black;

}

nav ul {
    list-style-type: none;

}

nav li {
    display: inline;
}
